
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 100px;
  height: auto;
}


.hero {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0 10px;
  position: relative;
  animation: fadeIn 2s ease-in-out;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


#models {
  background-color:lightgray;
  padding: 50px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.gallery img {
  width: 360px;
  margin: 20px;
  animation: slideIn 2s ease-in-out;
  border-radius: 5px;
}


#team {
  padding: 50px 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  width: 20%;
  animation: slideIn 2s ease-in-out;
}

.team-member img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  height: 200px;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-50%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
